{% extends "layouts/base.html" %}

{% block content %}

<main>
  <script src="static/assets/reportdonut.js">
  </script>
  <script src="static/assets/report.js"></script>
  <!-- <script>
    function selectAllRows(checkbox) {
    // Get all the checkboxes in the table
    let checkboxes = document.querySelectorAll('table td input[type="checkbox"]');

    if (checkbox.checked) {
        // Clear checkedReports before adding new reports
        checkedReports = [];

        // Set the checked property of each checkbox to the checked property of the selectAll checkbox
        checkboxes.forEach(cb => {
            cb.checked = true;
            console.log(cb);
            // Get the report ID from the checkbox
            let reportID = cb.className.match(/summarizer-checkbox-(\d+)$/)[1];
            if (reportID) {
                // Push the report into checkedReports
                checkedReports.push({ ReportID: reportID });
            }
            // Add an event listener to each checkbox
            cb.addEventListener('change', function() {
                if (!this.checked) {
                    // If a checkbox is unchecked, uncheck the checkbox in the table header
                    document.querySelector('table th input[type="checkbox"]').checked = false;
                }
            });
        });
    } else {
        // Clear checkedReports when the selectAll checkbox is unchecked
        checkedReports = [];
        // Uncheck all checkboxes
        checkboxes.forEach(cb => {
            cb.checked = false;
        });
    }
}
  </script> -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <div class="px-4 pt-6">

    <div class="grid gap-4 xl:grid-cols-1 2xl:grid-cols-1">
      <div class="grid grid-cols-3 gap-4">
        <!-- Donut Chart Box -->
        <div class="col-span-2">
          <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="flex justify-between mb-3">
              <div class="flex justify-center items-center">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">Defects</h5>
                    <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                  <div class="p-3 space-y-2">
                    <h3 class="font-semibold text-gray-900 dark:text-white">What does this donut show?</h3>
                    <p>By default, the donut shows the total severity and defects detected by the application. By clicking on the checkboxes, you are able to see the amount of defects and the severity of the selected defect(s)!</p>
                    <h3 class="font-semibold text-gray-900 dark:text-white">Clicking the Donut</h3>
                    <p>Clicking on the donut will also filter the report table with the defect selected and its severity!</p>
                    </div>
                  <div data-popper-arrow></div>
                </div>
              </div>
            </div>
            <div class="py-6" id="donut-chart"></div>
          </div>
        </div>
    
        <!-- Checkbox Box -->
        <div class="col-span-1">
          <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 h-full">
            <h1 class="text-xl font-bold text-gray-900 dark:text-white mb-4">Defects saved in Database</h1>
            <div id="donutdefects" style="max-height: 400px; overflow-y: auto;">
              {% for defect in defects %}
              <div class="flex items-center mb-2">
                <input id="{{ defect }}" type="checkbox" value="{{ defect }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="{{ defect }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ defect }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div
      class="p-4 bg-white border mt-4 border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <!-- Card header -->
      <div class="items-center justify-between lg:flex">
        <div class="mb-4 lg:mb-0">
          <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Reports</h3>
          <span class="text-base font-normal text-gray-500 dark:text-gray-400">Here are 30 reports generated from the latest batch.</span>
        </div>
        <div class="items-center sm:flex">
          <!-- <div class="flex items-center">
            <input type="text" placeholder="Filter by Custom Tag" class="mb-4 sm:mb-0 mr-4 inline-flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
  
          </div> -->
          <div class="flex items-center">
            <button id="dropdownDefault" data-dropdown-toggle="dropdown"
              class="mb-4 sm:mb-0 mr-4 inline-flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              type="button">
              Filter
              <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>

            <div id="dropdown" class="z-10 hidden w-30 p-3 bg-white rounded-lg shadow dark:bg-gray-700 flex flex-col items-center">
              <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white text-center">
                Filter by
              </h6>
              <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                <li class="flex items-center">
                  <select id="batch" class="w-full h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    <option disabled selected value="" class="text-gray-900 dark:text-white">Batches</option>
                    {% for batch in batches %}
                    {% if batch %}
                    <option value="{{ batch }}" class="text-gray-900 dark:text-white" 
                            {% if batch == batches|last %}selected{% endif %}>
                      {{ batch }}
                    </option>
                  {% endif %}
                    {% endfor %}
                  </select>
                </li>

                <li class="flex items-center">
                    <button id="dropdownDefault2" data-dropdown-toggle="dropdown2"
                      class="w-full h-10 mb-4 sm:mb-0 inline-flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                      type="button">
                      Defects
                      <svg class="w-4 h-4 aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg" style="margin-left: 82%;">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                      </svg>
                    </button>
                    <div id="dropdown2" class="z-10 hidden w-30 p-3 bg-white rounded-lg shadow dark:bg-gray-700 flex flex-col items-center">
                      <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Filter by</h6>
                      <ul class="space-y-2 text-sm">
                        {% for defect in defects %}
                        <li class="flex items-center">
                          <input id="{{ defect }}" type="checkbox" value="{{ defect }}" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 focus:ring-2">
                          <label for="{{ defect }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-white">{{ defect }}</label>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                </li>

                <li class="flex items-center">
                  <select id="severity" class="w-full h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    <option disabled selected value="" class="text-gray-900 dark:text-white">Severity</option>
                    <option value="1" class="text-gray-900 dark:text-white">Low</option>
                    <option value="2" class="text-gray-900 dark:text-white">Medium</option>
                    <option value="3" class="text-gray-900 dark:text-white">High</option>
                  </select>
                </li>

                <li class="flex items-center">
                  <select id="town" class="w-full h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" >
                    <option disabled selected value="" class="text-gray-900 dark:text-white">Town</option>
                    {% for town in town_tags %}
                    <option value="{{ town }}" class="text-gray-900 dark:text-white">{{ town }}</option>
                    {% endfor %}
                  </select>
                </li>

                <li class="flex items-center">
                  <select id="custom_tags" class="w-full h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" >
                    <option disabled selected value="" class="text-gray-900 dark:text-white">Custom Tags</option>
                    {% for tag in custom_tags %}
                    <option value="{{ tag }}" class="text-gray-900 dark:text-white">{{ tag }}</option>
                    {% endfor %}
                  </select>
                </li>
                <li class="flex items-center justify-between">
                  <button id="clearAll" class="w-20 h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-red-500 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Clear</button>
                  <button id="apply" class="h-10 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-blue-500 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Apply</button>
              </li>
              </ul>
            </div>
          </div>

          <div class="flex items-center">
            <div class="relative">
              <input type="text" name="datefilter" value="" placeholder="Filter by Date Range" 
              class="mb-4 sm:mb-0 mr-4 inline-flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"/>
            </div>
            <div class="relative inline-flex mr-4">
              <select id="summaryStyle" class="text-sm rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-gray-700">
                <option value="" selected disabled>Select a summary style</option>
                <option title="Return your response as numbered list which covers the main points of the text and key facts and figures.">Numbered List</option>
                <option title="Return your response as one sentence which covers the main points of the text.">One Sentence</option>
                <option title="Return your response as concise summary which covers the main points of the text.">Consise</option>
                <option title="Return your response as detailed summary which covers the main points of the text and key facts and figures.">Detailed</option>
            </select>
          </div>
          </div class="flex items-center">
          <button id="fulldownload">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 15c.7-1.2 1-2.5.7-3.9-.6-2-2.4-3.5-4.4-3.5h-1.2c-.7-3-3.2-5.2-6.2-5.6-3-.3-5.9 1.3-7.3 4-1.2 2.5-1 6.5.5 8.8M12 19.8V12M16 17l-4 4-4-4"/></svg>
          </button>
        </div>
      </div>
      <!-- Table -->
      <div class="flex flex-col mt-10">
        <div class="overflow-x-auto rounded-lg">
          <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                <thead class="bg-gray-50 dark:bg-gray-700">
                  <tr>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Report Name
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Inspection Date
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-center text-gray-500 uppercase dark:text-white">
                      Inspection Type
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Inspector
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Defects
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Generation Date
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      View Report
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Edit Report
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Download Report
                    </th>
                    <th scope="col"
                      class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Change Template
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Add Tag
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-center text-gray-500 uppercase dark:text-white">
                      <label for="selectAll">Select</label>
                      </br>
                      <!-- <input type="checkbox" id="selectAll" onclick="selectAllRows(this)"> -->
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800" id="reportContainer">

                </tbody>
              </table> 
            </div>
          </div>
        </div>
      </div>
      <!-- Card Footer -->
      <div class="flex items-center justify-between pt-3 sm:pt-6">
        <div class="flex items-center"> 
          <button id="viewmore" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
            View More
            <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg></button>
            <button id="generateSummary" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white ml-auto">Generate Summary
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </button>
        </div>
      </div>
<!-- Text Displayer Section -->
<div class="wp-4 bg-white border mt-4 border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800" id="textDisplayerSection">
  <h2 class="pb-4 text-xl font-bold text-gray-900 dark:text-white">Summary</h2>
  <p class="pb-4 text-gray-900 dark:text-white">Check the checkbox, optionally select a summary style and click the "Generate Summary" button to view an AI-generated summary of the selected reports.</p>
  <div class="p-4 bg-gray-200 rounded-lg dark:bg-gray-700" id="summaryContainer">
    <!-- Summary will go here -->
    <span class="text-gray-500">AI-generated summary will be displayed here... results may vary</span>
  </div>
</div>
  </div>
</main>
{% endblock content %}